<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Card de Planejamento</title>
    <link rel = "stylesheet" href= "static/cart_style.css">
</head>
<body>

    <div class="card" id="planejamento-card">
        <div class="imagem-container" id="imagem-planejamento"></div>
        <div class="conteudo">
            <h2>Novo Painel Produdividade</h2>
            <p class="descricao">Confira a produtividade diária da Cooperativa filtrando por:
                 PA, gerentes e gerencia regional</p>
            <button class="baixar">Ir para o Painel</button>
        </div>
    </div>

</body>
</html>
