<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href= "static/style.css">
 
</head>
<body>
    <div class = "inicial">
        <div class = "titulo">
            <h1>INSIGHTS IC</h1>
        </div>
        <b>Conhecer faz a diferença</b>

    </div>
    <br>
    <div class = "destaques"> Destaques:
        {% include "card.html" %}
    </div>
    

 
</body>
</html>
<card></card>